.card-columns{
    -webkit-column-break-inside: avoid;
    display: inline-block;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

.b{
  right: 0!important;
}

.dropdown-menu{
  left: none!important;
}